Repository Lonli-Lokli/uk-travel-history: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Auth Client, Auth Server, Calculators, Db, Features, Parser, Payments (Client), Payments (Server), UI Stores, UI Primitives, Utils, UI Widgets

fix: implement goal editing and multi-goal gating with feature badges (#170)
  apps/uk-travel-history/src/app/api/trips/route.ts
  apps/uk-travel-history/src/components/AddOptionsDrawer.tsx
  apps/uk-travel-history/src/components/TrackersView.tsx
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/EditGoalDrawer.tsx
  apps/uk-travel-history/src/components/goals/GoalDetailPanel.tsx
  apps/uk-travel-history/src/components/goals/index.ts
  apps/uk-travel-history/src/components/trips/TripDrawer.tsx
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/types/domain.ts
  packages/stores/src/lib/goalsStore.ts
  supabase/migrations/20260110201500_make_trip_goal_id_optional.sql
Due: unittests, Db, UI Stores

fix: restore risk chart rendering in goal detail panel (#171)
  apps/uk-travel-history/src/components/RiskAreaChart.tsx
  apps/uk-travel-history/src/components/TrackersView.tsx
  apps/uk-travel-history/src/components/goals/GoalCard.tsx
  apps/uk-travel-history/src/components/goals/GoalDetailPanel.tsx
  packages/auth/client/vite.config.ts
  packages/auth/server/vite.config.ts
  packages/db/src/types/domain.ts
  packages/db/vite.config.ts
  packages/domain/vite.config.ts
  packages/features/vite.config.ts
  packages/parser/vite.config.ts
  packages/payments/client/vite.config.ts
  packages/payments/server/vite.config.ts
  packages/rules/src/lib/engines/uk-ilr.ts
  packages/rules/src/lib/types.ts
  packages/stores/vite.config.ts
  packages/utils/vite.config.ts
Due: unittests, Db

chore: update logo
  apps/uk-travel-history/next.config.js
  apps/uk-travel-history/public/favicon.svg
  apps/uk-travel-history/public/logo.svg
  apps/uk-travel-history/src/components/Navbar.tsx
Due: unittests

update logos
  apps/uk-travel-history/public/favicon.svg
  apps/uk-travel-history/public/logo.svg
  packages/stores/src/lib/authStore.ts
  packages/ui/src/custom-icons/eu-flag.svg
  packages/ui/src/custom-icons/uk-flag.svg
  packages/ui/src/goal-icons.tsx
  packages/ui/src/icon.tsx
  packages/widgets/src/lib/goals/AddGoalFlow/ConfigureStep.tsx
Due: unittests, UI Stores, UI Primitives, UI Widgets

test: fix build
  packages/cache/src/internal/provider-resolver.ts
  packages/parser/src/lib/parser.ts
  packages/utils/src/lib/date-utils.ts
Due: unittests, Parser, Utils

chore: fix build
  apps/uk-travel-history/src/app/api/cron/supabase-keepalive/route.spec.ts
  apps/uk-travel-history/src/app/api/cron/supabase-keepalive/route.ts
  packages/stores/src/lib/goalsStore.test.ts
  packages/stores/src/lib/goalsStore.ts
  packages/stores/src/lib/travelStore.ts
  packages/ui/src/date-picker.tsx
Due: unittests, UI Stores, UI Primitives

chote: simplified bug report dialogs
  .github/workflows/playwright-e2e.yml
  README.md
  apps/uk-travel-history/src/app/api/bug-report/route.test.ts
  apps/uk-travel-history/src/app/api/bug-report/route.ts
  apps/uk-travel-history/src/app/layout.tsx
  apps/uk-travel-history/src/components/bug-report/BugReportDialog.tsx
  apps/uk-travel-history/src/components/bug-report/BugReportForm.tsx
  apps/uk-travel-history/src/emails/bug-report.tsx
  extensions/firebase-web-authn.env
  packages/stores/src/lib/goalsStore.test.ts
Due: unittests

chore: update mailsend logic
  apps/uk-travel-history/src/app/api/bug-report/route.test.ts
  apps/uk-travel-history/src/app/api/bug-report/route.ts
Due: unittests

chore: add bcc email support
  apps/uk-travel-history/src/app/api/bug-report/route.ts
Due: unittests

chore: extract bug report widget components
  apps/uk-travel-history/next-env.d.ts
  apps/uk-travel-history/src/app/api/bug-report/route.ts
  apps/uk-travel-history/src/app/layout.tsx
  apps/uk-travel-history/src/components/BuildInfo.tsx
  apps/uk-travel-history/src/components/Footer.tsx
  apps/uk-travel-history/src/components/bug-report/index.ts
  packages/widgets/src/lib/bug-report/BugReportDialog.tsx
  packages/widgets/src/lib/bug-report/BugReportForm.tsx
  packages/widgets/src/lib/bug-report/README.md
  packages/widgets/src/lib/bug-report/bug-report.tsx
  packages/widgets/src/lib/bug-report/constants.ts
  packages/widgets/src/lib/bug-report/index.ts
  packages/widgets/src/lib/bug-report/types.ts
  packages/widgets/src/lib/bug-report/useScreenshotCapture.ts
  packages/widgets/src/lib/bug-report/utils.test.ts
  packages/widgets/src/lib/bug-report/utils.ts
  packages/widgets/src/lib/index.ts
Due: unittests, UI Widgets

test: update footer tests
  apps/uk-travel-history/src/components/Footer.test.tsx
Due: unittests

test: update tests
  apps/uk-travel-history/src/components/Footer.test.tsx
Due: unittests

chore: add formatting util fn
  packages/utils/src/lib/utils.test.ts
  packages/utils/src/lib/utils.ts
  packages/widgets/src/lib/bug-report/BugReportForm.tsx
  packages/widgets/src/lib/bug-report/constants.ts
Due: unittests, Utils, UI Widgets

feat: work on LCP
  apps/uk-travel-history/next-env.d.ts
  apps/uk-travel-history/src/app/LayoutClient.tsx
  apps/uk-travel-history/src/app/layout.tsx
  apps/uk-travel-history/src/app/travel/page.tsx
  apps/uk-travel-history/src/components/Providers.tsx
  apps/uk-travel-history/src/components/ProvidersWrapper.tsx
  packages/db/src/index.ts
  packages/db/src/types/domain.ts
  packages/features/src/lib/access-context.test.ts
  packages/features/src/lib/access-context.ts
  packages/features/src/lib/server.ts
  packages/utils/src/lib/utils.test.ts
Due: unittests, Db, Features

feat: work on LCP
  apps/uk-travel-history/src/app/layout.tsx
Due: unittests

Update package.json
  package.json
Due: none

chore: restore tests
  apps/uk-travel-history/src/app/account/page.tsx
  apps/uk-travel-history/src/app/api/bug-report/route.test.ts
  apps/uk-travel-history/src/app/api/user/provision/route.ts
  apps/uk-travel-history/src/app/layout.tsx
  apps/uk-travel-history/src/app/status/page.test.tsx
  apps/uk-travel-history/src/app/status/page.tsx
  apps/uk-travel-history/src/components/StatusPageClient.tsx
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  packages/db/src/index.ts
  packages/db/src/internal/providers/interface.ts
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/public/db-operations.ts
  packages/features/src/lib/access-context.test.ts
  packages/features/src/lib/access-context.ts
  packages/features/src/lib/api-guards.test.ts
  packages/features/src/lib/api-guards.ts
  packages/features/src/lib/cached-data.ts
  packages/features/src/lib/defaults.ts
  packages/features/src/lib/features-actions.test.ts
  packages/features/src/lib/features-states.test.ts
  packages/features/src/lib/features.ts
  packages/features/src/lib/index.ts
  packages/features/src/lib/server-validation.test.ts
  packages/features/src/lib/server-validation.ts
  packages/features/src/lib/server.ts
  packages/features/src/lib/shapes.ts
Due: unittests, Db, Features

chore: restore deploy script
  package.json
Due: none

implemented
  apps/uk-travel-history/src/app/api/trips/[tripId]/route.ts
  apps/uk-travel-history/src/app/api/trips/bulk/route.ts
  apps/uk-travel-history/src/app/api/trips/reorder/route.ts
  apps/uk-travel-history/src/app/api/trips/route.ts
  apps/uk-travel-history/src/proxy.ts
  apps/uk-travel-history/tsconfig.json
  package-lock.json
  packages/cache/src/index.ts
  packages/cache/src/internal/providers/interface.ts
  packages/cache/src/internal/providers/mock-adapter.ts
  packages/cache/src/internal/providers/upstash-provider.ts
  packages/cache/src/public/cache-operations.ts
  packages/trip-store/package.json
  packages/trip-store/src/index.ts
  packages/trip-store/src/internal/provider-resolver.ts
  packages/trip-store/src/internal/providers/cache-adapter.ts
  packages/trip-store/src/internal/providers/interface.ts
  packages/trip-store/src/internal/providers/supabase-adapter.ts
  packages/trip-store/src/internal/session-manager.ts
  packages/trip-store/src/public/migration.ts
  packages/trip-store/src/public/trip-operations.ts
  packages/trip-store/src/types/domain.ts
  packages/trip-store/tsconfig.json
  packages/trip-store/tsconfig.lib.json
  packages/trip-store/tsconfig.spec.json
  packages/widgets/src/lib/trips/TripDrawer.tsx
  tsconfig.json
Due: unittests, UI Widgets

update
  apps/uk-travel-history/src/app/api/goals/[goalId]/route.ts
  apps/uk-travel-history/src/app/api/goals/route.ts
  apps/uk-travel-history/src/app/api/trips/[tripId]/route.ts
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  apps/uk-travel-history/src/proxy.ts
  apps/uk-travel-history/tsconfig.json
  packages/stores/src/lib/travelStore.ts
Due: unittests, UI Stores

contonue fix
  apps/uk-travel-history/src/app/api/goals/[goalId]/route.ts
  apps/uk-travel-history/src/components/Providers.tsx
  packages/db/src/types/domain.ts
  packages/features/src/lib/access-context.ts
  packages/features/tsconfig.lib.json
  packages/trip-store/src/index.ts
  packages/trip-store/src/internal/session-manager.ts
Due: unittests, Db, Features

feat: Add detailed ILR explanations with compact goal cards (#180)
  apps/uk-travel-history/src/app/api/export/route.test.ts
  apps/uk-travel-history/src/app/api/goals/route.ts
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/types/domain.ts
  packages/features/src/lib/access-context.ts
  packages/rules/src/lib/engines/days-counter.ts
  packages/rules/src/lib/engines/uk-ilr.ts
  packages/rules/src/lib/internal/calculators.ts
  packages/rules/src/lib/internal/shapes.ts
  packages/rules/src/lib/types.ts
  packages/stores/src/lib/goalsStore.test.ts
  packages/stores/src/lib/goalsStore.ts
  packages/trip-store/src/internal/converters/goal-converter.ts
  packages/trip-store/src/types/goal-domain.ts
  packages/widgets/src/lib/goals/AddGoalFlow/ConfigureStep.tsx
  packages/widgets/src/lib/goals/GoalCard.tsx
  packages/widgets/src/lib/goals/GoalDetailPanel.tsx
  supabase/migrations/20260117183000_remove_goal_start_date.sql
Due: unittests, Db, Features, UI Stores, UI Widgets

Update supabase-deploy-prod.yml
  .github/workflows/supabase-deploy-prod.yml
Due: none

Update supabase-preview-branch.yml
  .github/workflows/supabase-preview-branch.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update supabase-ci.yml
  .github/workflows/supabase-ci.yml
Due: none

fix: normalize function syntax to eliminate drift detection (#182)
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/supabase-ci.yml
  .github/workflows/supabase-deploy-prod.yml
  .github/workflows/supabase-preview-branch.yml
  .prettierrc
  README.md
  package.json
  scripts/check-git-config.js
  supabase/migrations/20260117203700_normalize_function_syntax.sql
Due: none

Path conditions:
  unittests: any of: packages/, apps/, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Auth Client: any of: packages/auth-client/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Auth Server: any of: packages/auth-server/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Calculators: any of: packages/calculators/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Db: any of: packages/db/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Features: any of: packages/features/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Parser: any of: packages/parser/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Payments (Client): any of: packages/payments-client/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Payments (Server): any of: packages/payments-server/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  UI Stores: any of: packages/stores/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  UI Primitives: any of: packages/ui/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Utils: any of: packages/utils/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  UI Widgets: any of: packages/widgets/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
