Repository Lonli-Lokli/uk-travel-history: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Auth Client, Auth Server, Calculators, Db, Features, Parser, Payments (Client), Payments (Server), UI Stores, UI Primitives, Utils, UI Widgets

feat: enable supabase schema
  .github/workflows/supabase-ci.yml
  .github/workflows/supabase-deploy-prod.yml
  .gitignore
  package-lock.json
  package.json
  packages/features/src/lib/access-context.test.ts
  supabase/migrations/001_initial_schema.sql
  supabase/migrations/002_add_entitlements.sql
  supabase/migrations/003_add_rls_policies.sql
  supabase/migrations/004_create_subscription_statuses_table.sql
  supabase/migrations/005_migrate_subscription_status_to_nullable.sql
  supabase/migrations/006_add_subscription_consistency_constraints.sql
  supabase/migrations/007_add_feature_policies.sql
  supabase/migrations/008_add_subscription_lifecycle_fixes.sql
  supabase/migrations/009_fix_rls_policy_for_lifecycle_fields.sql
  supabase/migrations/010_add_user_roles.sql
  supabase/migrations/20260102000000_baseline_production_schema.sql
  supabase/tests/database/rls_tests.sql
  supabase/tests/database/schema_tests.sql
Due: none

feat: fix supabase setup
  supabase/config.toml
Due: none

feat: fix supabase migrations
  .gitignore
  CLAUDE.md
  packages/features/src/lib/feature-logger.ts
  supabase/README.md
  supabase/migrations-archieve/001_initial_schema.sql
  supabase/migrations-archieve/002_add_entitlements.sql
  supabase/migrations-archieve/003_add_rls_policies.sql
  supabase/migrations-archieve/004_create_subscription_statuses_table.sql
  supabase/migrations-archieve/005_migrate_subscription_status_to_nullable.sql
  supabase/migrations-archieve/006_add_subscription_consistency_constraints.sql
  supabase/migrations-archieve/007_add_feature_policies.sql
  supabase/migrations-archieve/008_add_subscription_lifecycle_fixes.sql
  supabase/migrations-archieve/009_fix_rls_policy_for_lifecycle_fields.sql
  supabase/migrations-archieve/010_add_user_roles.sql
  supabase/migrations/20260105000000_add_user_roles.sql
  supabase/seed.sql
  supabase/tests/database/rls_tests.sql
  supabase/tests/database/schema_tests.sql
Due: unittests, Features

chore: remove separate route for sentry reporting
  apps/uk-travel-history/next.config.js
  apps/uk-travel-history/src/proxy.ts
Due: unittests

feat implemented
  apps/uk-travel-history/src/app/api/goals/[goalId]/route.ts
  apps/uk-travel-history/src/app/api/goals/route.ts
  apps/uk-travel-history/src/app/api/goals/templates/route.ts
  docs/MULTI_GOAL_IMPLEMENTATION_PLAN.md
  nx.json
  packages/db/src/index.ts
  packages/db/src/internal/providers/interface.ts
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/public/db-operations.ts
  packages/db/src/types/domain.ts
  packages/features/src/lib/shapes.ts
  packages/rules/package.json
  packages/rules/src/engines/days-counter.ts
  packages/rules/src/engines/index.ts
  packages/rules/src/engines/uk-ilr.ts
  packages/rules/src/index.ts
  packages/rules/src/registry.ts
  packages/rules/src/types.ts
  packages/rules/tsconfig.json
  packages/rules/tsconfig.lib.json
  packages/rules/tsconfig.spec.json
  supabase/migrations/20260105100000_add_multi_goal_feature_flag.sql
  supabase/migrations/20260105100001_add_tracking_goals.sql
  supabase/seed.sql
  supabase/tests/database/rls_tests.sql
  supabase/tests/database/schema_tests.sql
  tsconfig.json
Due: unittests, Db, Features

chore: rename folder
  supabase/migrations_archive/001_initial_schema.sql
  supabase/migrations_archive/002_add_entitlements.sql
  supabase/migrations_archive/003_add_rls_policies.sql
  supabase/migrations_archive/004_create_subscription_statuses_table.sql
  supabase/migrations_archive/005_migrate_subscription_status_to_nullable.sql
  supabase/migrations_archive/006_add_subscription_consistency_constraints.sql
  supabase/migrations_archive/007_add_feature_policies.sql
  supabase/migrations_archive/008_add_subscription_lifecycle_fixes.sql
  supabase/migrations_archive/009_fix_rls_policy_for_lifecycle_fields.sql
  supabase/migrations_archive/010_add_user_roles.sql
Due: none

continuation
  apps/uk-travel-history/next.config.js
  apps/uk-travel-history/src/app/api/goals/[goalId]/route.ts
  apps/uk-travel-history/src/app/api/goals/route.ts
  apps/uk-travel-history/src/app/api/goals/templates/route.ts
  apps/uk-travel-history/src/components/Providers.tsx
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/AddGoalModal.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/CategoryStep.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/ConfigureStep.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/TemplateStep.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/index.ts
  apps/uk-travel-history/src/components/goals/GoalDetailPanel.tsx
  apps/uk-travel-history/src/components/goals/GoalMiniCard.tsx
  apps/uk-travel-history/src/components/goals/GoalMiniCardsRow.tsx
  apps/uk-travel-history/src/components/goals/index.ts
  apps/uk-travel-history/tsconfig.json
  package-lock.json
  package.json
  packages/features/src/lib/access-context.ts
  packages/features/src/lib/features.ts
  packages/features/src/lib/index.ts
  packages/rules/README.md
  packages/rules/eslint.config.mjs
  packages/rules/src/index.ts
  packages/rules/src/lib/engines/days-counter.ts
  packages/rules/src/lib/engines/index.ts
  packages/rules/src/lib/engines/uk-ilr.ts
  packages/rules/src/lib/registry.ts
  packages/rules/src/lib/types.ts
  packages/stores/src/lib/goalsStore.ts
  packages/stores/src/lib/index.ts
  packages/stores/tsconfig.lib.json
  packages/ui/src/cutom-icons/eu-flag.svg
  packages/ui/src/cutom-icons/uk-flag.svg
  packages/ui/src/icon.tsx
Due: unittests, Features, UI Stores, UI Primitives

feat: implement multi-goal tracking system with MobX state management
  apps/uk-travel-history/next.config.js
  apps/uk-travel-history/src/app/api/goals/[goalId]/route.ts
  apps/uk-travel-history/src/app/api/goals/route.ts
  apps/uk-travel-history/src/app/api/goals/templates/route.ts
  apps/uk-travel-history/src/components/Providers.tsx
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/AddGoalModal.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/CategoryStep.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/ConfigureStep.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/TemplateStep.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/index.ts
  apps/uk-travel-history/src/components/goals/GoalDetailPanel.tsx
  apps/uk-travel-history/src/components/goals/GoalMiniCard.tsx
  apps/uk-travel-history/src/components/goals/GoalMiniCardsRow.tsx
  apps/uk-travel-history/src/components/goals/index.ts
  docs/MULTI_GOAL_IMPLEMENTATION_PLAN.md
  packages/db/src/index.ts
  packages/db/src/internal/providers/interface.ts
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/public/db-operations.ts
  packages/db/src/types/domain.ts
  packages/features/src/lib/access-context.ts
  packages/features/src/lib/index.ts
  packages/rules/README.md
  packages/rules/src/lib/engines/days-counter.ts
  packages/rules/src/lib/engines/uk-ilr.ts
  packages/rules/src/lib/registry.ts
  packages/rules/src/lib/types.ts
  packages/stores/src/lib/goalsStore.ts
  packages/ui/src/icon.tsx
  packages/widgets/src/lib/feature-gate.tsx
  packages/widgets/src/lib/premium-gate.tsx
Due: unittests, Db, Features, UI Stores, UI Primitives, UI Widgets

remove planning doc
  docs/MULTI_GOAL_IMPLEMENTATION_PLAN.md
Due: none

update docs folder
  docs/Naturalisation+as+British+citizen+by+discretion.pdf
  docs/SETUP_GUIDE.md
  docs/STRIPE_WEBHOOK_SETUP.md
  packages/db/src/internal/providers/supabase-adapter.ts
Due: unittests, Db

update tests
  packages/features/src/lib/server-validation.test.ts
  packages/rules/src/lib/engines/days-counter.test.ts
  packages/rules/src/lib/engines/days-counter.ts
  packages/rules/src/lib/engines/uk-ilr.test.ts
  packages/stores/src/lib/goalsStore.test.ts
  packages/stores/src/lib/travelStore.ts
  packages/widgets/src/lib/feature-gate.test.tsx
Due: unittests, UI Stores, UI Widgets

chore: update workflow files
  .github/workflows/cleanup-artifacts.yml
  .github/workflows/playwright-e2e.yml
  apps/uk-travel-history/playwright.config.ts
Due: none

chore: update icons
  packages/ui/src/icon.tsx
  supabase/migrations/20260105100001_add_tracking_goals.sql
Due: unittests, UI Primitives

Add Supabase environment refresh workflow
  .github/workflows/supabase-env-refresh.yml
Due: none

Add Supabase preview branch workflow
  .github/workflows/supabase-preview-branch
Due: none

Add Supabase preview branch cleanup workflow
  .github/workflows/supabase-preview-cleanup
Due: none

Update deployment paths in workflow configuration
  .github/workflows/supabase-deploy-prod.yml
Due: none

update workflow files
  .github/workflows/supabase-env-refresh.yml
  apps/uk-travel-history/src/app/api/cron/supabase-maintenance/route.ts
Due: unittests

feat: Automated Supabase Environments for PRs + Scheduled Data Refresh (#158)
  .github/workflows/supabase-deploy-prod.yml
  .github/workflows/supabase-env-refresh.yml
  .github/workflows/supabase-preview-branch
  .github/workflows/supabase-preview-cleanup
  apps/uk-travel-history/src/app/api/cron/supabase-maintenance/route.ts
  vercel.json
Due: unittests

initial
  .gitignore
  apps/uk-travel-history/e2e/accessibility.spec.ts
  apps/uk-travel-history/e2e/global-setup.ts
  apps/uk-travel-history/e2e/set.txt
  apps/uk-travel-history/next-env.d.ts
  apps/uk-travel-history/playwright.config.ts
Due: unittests

fixed playwright report
  .github/workflows/playwright-e2e.yml
  AGENTS.md
  TESTING.md
  apps/uk-travel-history/e2e/accessibility.spec.ts
  apps/uk-travel-history/e2e/global-setup.ts
  apps/uk-travel-history/e2e/global-teardown.ts
  apps/uk-travel-history/e2e/set.txt
  apps/uk-travel-history/playwright.config.ts
  tools/generate-e2e-report.js
Due: unittests

chore: build fix
  apps/uk-travel-history/src/app/api/stripe/validate-session/route.ts
  apps/uk-travel-history/src/app/not-found.tsx
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  packages/auth/server/src/index.ts
  packages/auth/server/src/internal/providers/clerk-adapter.ts
  packages/auth/server/src/internal/providers/interface.ts
  packages/auth/server/src/internal/providers/mock-adapter.ts
  packages/auth/server/src/public/auth-operations.spec.ts
  packages/auth/server/src/public/auth-operations.ts
  packages/auth/server/src/types/domain.ts
  packages/db/src/index.ts
  packages/db/src/internal/providers/interface.ts
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.test.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/internal/providers/supabase.types.ts
  packages/db/src/lib/client-factory.test.ts
  packages/db/src/lib/client-factory.ts
  packages/db/src/public/db-operations.ts
  packages/stores/src/lib/tripsStore.ts
  supabase/migrations/20260109161000_add_purchase_intents_user_fk.sql
Due: unittests, Db, UI Stores

continue with implementation
  packages/auth/server/src/public/auth-operations.spec.ts
Due: none

Add Supabase preview branch workflow
  .github/workflows/supabase-preview-branch.yml
Due: none

Add supabase-preview-cleanup workflow file
  .github/workflows/supabase-preview-cleanup.yml
Due: none

Update TripDrawer.tsx
  packages/widgets/src/lib/TripDrawer.tsx
Due: unittests, UI Widgets

Change UIIcon names from alert-02 to alert-circle and tick-02 to check
  apps/uk-travel-history/src/components/trips/TripDrawer.tsx
Due: unittests

Refactor FeatureOptionButton to use feature gating
  apps/uk-travel-history/src/components/FeatureOptionButton.tsx
Due: unittests

Change feature prop from optional to required
  apps/uk-travel-history/src/components/FeatureOptionButton.tsx
Due: unittests

fix: persist imported trips to database for registered users (#160)
  apps/uk-travel-history/src/app/api/export/route.ts
  apps/uk-travel-history/src/app/api/import-full/route.ts
  apps/uk-travel-history/src/app/api/import/csv/route.ts
  apps/uk-travel-history/src/app/api/import/xlsx/route.ts
  apps/uk-travel-history/src/components/HomePageClient.tsx
  apps/uk-travel-history/src/components/LandingPage.tsx
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  apps/uk-travel-history/src/components/hooks/useClipboardImport.ts
  apps/uk-travel-history/src/components/hooks/useCsvImport.ts
  apps/uk-travel-history/src/components/hooks/useFullDataImport.ts
  apps/uk-travel-history/src/components/hooks/utils/handleImportResult.test.ts
  apps/uk-travel-history/src/components/hooks/utils/handleImportResult.ts
  packages/stores/src/lib/tripsStore.ts
Due: unittests, UI Stores

Refactor MCP server settings in .mcp.json
  .mcp.json
Due: none

Disable '@nx/enforce-module-boundaries' rule
  eslint.config.mjs
Due: none

chore: refactor feature button
  apps/uk-travel-history/src/components/AddOptionsDrawer.tsx
  packages/widgets/src/lib/feature-option-button.tsx
  packages/widgets/src/lib/index.ts
Due: unittests, UI Widgets

fix: enable anonymous users to add trips with validation (#166)
  apps/uk-travel-history/src/components/trips/TripDrawer.tsx
Due: unittests

refactor: enforce server-side-only calculation architecture (#167)
  apps/uk-travel-history/src/components/Providers.tsx
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  apps/uk-travel-history/src/components/goals/AddGoalFlow/AddGoalDrawer.tsx
  apps/uk-travel-history/src/components/trips/TripDrawer.tsx
  packages/features/src/lib/access-context.ts
  packages/stores/src/lib/goalsStore.ts
Due: unittests, Features, UI Stores

feat: phase 2 - anonymous goal visibility and trip titles (#168)
  apps/uk-travel-history/src/app/api/calculate/route.ts
  apps/uk-travel-history/src/components/trips/TripDrawer.tsx
  apps/uk-travel-history/src/proxy.ts
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/internal/providers/supabase.types.ts
  packages/db/src/types/domain.ts
  packages/features/src/lib/access-context.ts
  packages/stores/src/lib/goalsStore.test.ts
  packages/stores/src/lib/uiStore.ts
  supabase/migrations/20260110163000_add_trip_title.sql
Due: unittests, Db, Features, UI Stores

refactor: consolidate calculation packages - remove @uth/calculators (#169)
  apps/uk-travel-history/src/components/RiskAreaChart.tsx
  apps/uk-travel-history/src/components/VisaDetailsCard.tsx
  apps/uk-travel-history/tsconfig.json
  package-lock.json
  packages/calculators/README.md
  packages/calculators/eslint.config.mjs
  packages/calculators/package.json
  packages/calculators/src/index.ts
  packages/calculators/src/lib/index.ts
  packages/calculators/tsconfig.json
  packages/calculators/tsconfig.lib.json
  packages/calculators/tsconfig.spec.json
  packages/calculators/vite.config.ts
  packages/calculators/vitest.config.mts
  packages/rules/package.json
  packages/rules/src/index.ts
  packages/rules/src/lib/engines/days-counter.test.ts
  packages/rules/src/lib/engines/days-counter.ts
  packages/rules/src/lib/engines/uk-ilr.test.ts
  packages/rules/src/lib/engines/uk-ilr.ts
  packages/rules/src/lib/internal/calculators.spec.ts
  packages/rules/src/lib/internal/calculators.ts
  packages/rules/src/lib/internal/helpers.test.ts
  packages/rules/src/lib/internal/helpers.ts
  packages/rules/src/lib/internal/index.ts
  packages/rules/src/lib/internal/shapes.ts
  packages/rules/src/lib/types.ts
  packages/stores/src/lib/travelStore.ts
  packages/widgets/src/lib/SortableTableRow.tsx
  packages/widgets/src/lib/SortableTripCard.tsx
  packages/widgets/src/lib/TravelTable.tsx
  tsconfig.json
Due: unittests, Calculators, UI Stores, UI Widgets

Path conditions:
  unittests: any of: packages/, apps/, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Auth Client: any of: packages/auth-client/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Auth Server: any of: packages/auth-server/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Calculators: any of: packages/calculators/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Db: any of: packages/db/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Features: any of: packages/features/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Parser: any of: packages/parser/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Payments (Client): any of: packages/payments-client/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Payments (Server): any of: packages/payments-server/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  UI Stores: any of: packages/stores/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  UI Primitives: any of: packages/ui/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  Utils: any of: packages/utils/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
  UI Widgets: any of: packages/widgets/**, but not: **/*.spec.ts, **/*.test.ts, **/__tests__/**, **/node_modules/**, **/test-output/**, **/*.config.ts, **/dist/**
