Repository Lonli-Lokli/uk-travel-history: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Auth Client, Auth Server, Calculators, Db, Features, Parser, Payments (Client), Payments (Server), UI Stores, UI Primitives, Utils, UI Widgets

codecov.yml:

# Codecov configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 70% # Target coverage percentage
        threshold: 2% # Allow 2% drop before failing
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 0

comment:
  layout: 'header, diff, flags, components'
  behavior: default
  require_changes: false # Always comment on PRs

flags:
  unittests:
    paths:
      - packages/
      - apps/

component_management:
  individual_components:
    - component_id: auth-cleint
      name: Auth Client
      paths:
        - packages/auth-client/**
    - component_id: auth-server
      name: Auth Server
      paths:
        - packages/auth-server/**
    - component_id: calculators
      name: Calculators
      paths:
        - packages/calculators/**
    - component_id: db
      name: Db
      paths:
        - packages/db/**
    - component_id: features
      name: Features
      paths:
        - packages/features/**
    - component_id: parser
      name: Parser
      paths:
        - packages/parser/**
    - component_id: payments-client
      name: Payments (Client)
      paths:
        - packages/payments-client/**
    - component_id: payments-server
      name: Payments (Server)
      paths:
        - packages/payments-server/**
    - component_id: Stores
      name: UI Stores
      paths:
        - packages/stores/**
    - component_id: ui
      name: UI Primitives
      paths:
        - packages/ui/**
    - component_id: utils
      name: Utils
      paths:
        - packages/utils/**
    - component_id: widgets
      name: UI Widgets
      paths:
        - packages/widgets/**

ignore:
  - '**/*.spec.ts'
  - '**/*.test.ts'
  - '**/__tests__/**'
  - '**/node_modules/**'
  - '**/test-output/**'
  - '**/*.config.ts'
  - '**/dist/**'

test: Add comprehensive tests for @uth/db and @uth/auth-server packages (#99) (#104)
  TESTING.md
  apps/uk-travel-history/src/app/api/export/route.test.ts
  codecov.yml
  packages/auth-server/src/internal/provider-resolver.test.ts
  packages/db/src/internal/provider-resolver.test.ts
  packages/db/src/internal/providers/supabase-adapter.test.ts
Due: none

Rename Codecov job from 'vinto' to 'uth'
  .github/workflows/ci.yml
Due: none

chore: update file placements
  apps/uk-travel-history/proxy.ts
  apps/uk-travel-history/src/lib/flow.tsx
  apps/uk-travel-history/src/proxy.test.ts
  apps/uk-travel-history/src/proxy.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/middleware-compose.test.ts
  packages/utils/src/lib/middleware-compose.ts
Due: unittests, Utils

test: improve coverage for proxy and travelStore (#106)
  apps/uk-travel-history/src/app/api/billing/checkout/route.spec.ts
  apps/uk-travel-history/src/app/api/billing/checkout/route.ts
  apps/uk-travel-history/src/app/api/cron/supabase-keepalive/route.spec.ts
  apps/uk-travel-history/src/app/api/cron/supabase-keepalive/route.ts
  apps/uk-travel-history/src/app/api/export/route.test.ts
  apps/uk-travel-history/src/app/api/export/route.ts
  apps/uk-travel-history/src/app/api/stripe/webhook/route.spec.ts
  apps/uk-travel-history/src/app/api/stripe/webhook/route.ts
  apps/uk-travel-history/src/lib/routeLogger.ts
  apps/uk-travel-history/src/proxy.test.ts
  apps/uk-travel-history/src/proxy.ts
  packages/features/src/lib/api-guards.test.ts
  packages/features/src/lib/api-guards.ts
  packages/stores/src/lib/travelStore.test.ts
  packages/stores/src/lib/travelStore.ts
Due: unittests, Features, UI Stores

fix: update features
  apps/uk-travel-history/e2e/feature-gating.spec.ts
  apps/uk-travel-history/src/app/api/export/route.ts
  apps/uk-travel-history/src/app/api/import-full/route.ts
  apps/uk-travel-history/src/app/api/parse/route.ts
  apps/uk-travel-history/src/components/Header.tsx
  apps/uk-travel-history/src/components/LandingPage.tsx
  apps/uk-travel-history/src/components/RiskAreaChart.tsx
  apps/uk-travel-history/src/components/TravelToolbar.tsx
  packages/features/src/lib/api-guards.test.ts
  packages/features/src/lib/api-guards.ts
  packages/features/src/lib/edgeConfigFlags.ts
  packages/features/src/lib/features-actions.test.ts
  packages/features/src/lib/features-states.test.ts
  packages/features/src/lib/features.test.ts
  packages/features/src/lib/features.ts
  packages/features/src/lib/server-validation.test.ts
  packages/features/src/lib/server-validation.ts
  packages/features/src/lib/shapes.ts
  packages/stores/src/lib/monetizationStore.test.ts
  packages/stores/src/lib/monetizationStore.ts
  packages/widgets/src/lib/feature-button.tsx
  packages/widgets/src/lib/feature-chart.tsx
  packages/widgets/src/lib/feature-dropdown-item.tsx
  packages/widgets/src/lib/feature-gate.test.tsx
  packages/widgets/src/lib/feature-gate.tsx
  packages/widgets/src/lib/premium-gate.test.tsx
  packages/widgets/src/lib/premium-gate.tsx
  packages/widgets/src/lib/use-premium-access.test.tsx
  packages/widgets/src/lib/use-premium-access.ts
Due: unittests, Features, UI Stores, UI Widgets

fix: update imports after Edge Config migration (#117)
  apps/uk-travel-history/next-env.d.ts
  apps/uk-travel-history/src/app/about/page.test.tsx
  apps/uk-travel-history/src/app/api/billing/checkout/route.spec.ts
  apps/uk-travel-history/src/app/api/cron/supabase-keepalive/route.spec.ts
  apps/uk-travel-history/src/app/api/export/route.test.ts
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.spec.ts
  apps/uk-travel-history/src/app/status/page.test.tsx
  apps/uk-travel-history/src/app/terms/page.test.tsx
  apps/uk-travel-history/src/components/Footer.test.tsx
  apps/uk-travel-history/src/components/Footer.tsx
  apps/uk-travel-history/src/components/Navbar.test.tsx
  package-lock.json
  packages/features/src/lib/api-guards.test.ts
  packages/features/src/lib/features-states.test.ts
  packages/features/src/lib/features.ts
  packages/features/src/lib/index.ts
  packages/features/src/lib/server-validation.test.ts
  packages/features/src/lib/server-validation.ts
  packages/features/src/lib/server.ts
  packages/flow/src/lib/index.ts
  packages/stores/src/lib/monetizationStore.test.ts
  packages/stores/src/lib/monetizationStore.ts
  packages/utils/src/lib/logger.ts
  packages/widgets/src/lib/feature-button.tsx
  packages/widgets/src/lib/feature-chart.tsx
  packages/widgets/src/lib/feature-dropdown-item.tsx
  packages/widgets/src/lib/feature-gate-context.tsx
  packages/widgets/src/lib/feature-gate.tsx
Due: unittests, Features, UI Stores, Utils, UI Widgets

Change PDF_IMPORT minTier from FREE to PREMIUM
  packages/features/src/lib/api-guards.test.ts
Due: none

Change expectation for PDF_IMPORT in free features
  packages/features/src/lib/features-states.test.ts
Due: none

Update feature test
  packages/features/src/lib/features-states.test.ts
Due: none

feat: audit and harden feature access control system (#119)
  FEATURE_ACCESS_MATRIX.md
  apps/uk-travel-history/src/app/api/billing/checkout/route.spec.ts
  apps/uk-travel-history/src/app/api/billing/checkout/route.ts
  apps/uk-travel-history/src/app/api/stripe/create-anonymous-checkout/route.ts
  apps/uk-travel-history/src/app/api/stripe/create-checkout/route.ts
  packages/features/README.md
  packages/features/src/lib/api-guards.test.ts
  packages/features/src/lib/features-actions.test.ts
  packages/features/src/lib/features-states.test.ts
  packages/features/src/lib/features.ts
Due: unittests, Features

fix: configure Sentry to only report production errors and enable source maps upload (#123)
  apps/uk-travel-history/instrumentation-client.ts
  apps/uk-travel-history/next.config.js
  apps/uk-travel-history/sentry.edge.config.ts
  apps/uk-travel-history/sentry.server.config.ts
Due: unittests

refactor: migrate subscription_status to reference table with nullable design (#122)
  apps/uk-travel-history/src/app/api/webhooks/clerk/route.ts
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.spec.ts
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.ts
  packages/db/src/internal/providers/supabase-adapter.test.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/internal/providers/supabase.types.ts
  packages/db/src/types/domain.ts
  supabase/migrations/004_create_subscription_statuses_table.sql
  supabase/migrations/005_migrate_subscription_status_to_nullable.sql
  supabase/migrations/006_add_subscription_consistency_constraints.sql
Due: unittests, Db

feat: migrate feature flags from Vercel Edge Config to Supabase (#125)
  CLAUDE.md
  package-lock.json
  package.json
  packages/db/src/index.ts
  packages/db/src/internal/providers/interface.ts
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/internal/providers/supabase.types.ts
  packages/db/src/public/db-operations.ts
  packages/db/src/types/domain.ts
  packages/features/src/lib/features-actions.test.ts
  packages/features/src/lib/features.ts
  packages/features/src/lib/index.ts
  packages/features/src/lib/server-validation.test.ts
  supabase/migrations/004_add_feature_policies.sql
Due: unittests, Db, Features

chore: update setup
  .gitignore
  apps/uk-travel-history/next-env.d.ts
  apps/uk-travel-history/next.config.js
  apps/uk-travel-history/src/app/LayoutClient.tsx
  apps/uk-travel-history/src/app/layout.tsx
  apps/uk-travel-history/src/components/Footer.tsx
  apps/uk-travel-history/src/components/ProvidersWrapper.tsx
  apps/uk-travel-history/src/components/RiskAreaChart.tsx
  apps/uk-travel-history/src/components/TravelToolbar.tsx
  apps/uk-travel-history/src/proxy.ts
  package-lock.json
  packages/stores/src/lib/monetizationStore.ts
  packages/widgets/src/lib/feature-button.tsx
  packages/widgets/src/lib/feature-chart.tsx
  packages/widgets/src/lib/feature-dropdown-item.tsx
  packages/widgets/src/lib/feature-gate-context.tsx
  packages/widgets/src/lib/feature-gate.tsx
  supabase/migrations/007_add_feature_policies.sql
Due: unittests, UI Stores, UI Widgets

test: fix tests
  apps/uk-travel-history/next-env.d.ts
  apps/uk-travel-history/src/components/RiskAreaChart.tsx
  packages/stores/src/lib/authStore.ts
  packages/widgets/src/lib/feature-gate.test.tsx
  packages/widgets/src/lib/premium-gate.test.tsx
  packages/widgets/src/lib/premium-integration.test.tsx
  packages/widgets/src/lib/use-premium-access.test.tsx
Due: unittests, UI Stores, UI Widgets

chore: update layout
  apps/uk-travel-history/src/app/LayoutClient.tsx
  apps/uk-travel-history/src/app/account/AccountPageClient.tsx
  apps/uk-travel-history/src/app/layout.tsx
  apps/uk-travel-history/src/app/status/page.tsx
  apps/uk-travel-history/src/components/HomePageClient.tsx
  apps/uk-travel-history/src/components/LandingPage.tsx
  apps/uk-travel-history/src/components/PageWrapper.tsx
  apps/uk-travel-history/src/components/Providers.tsx
  apps/uk-travel-history/src/components/StatusPageClient.tsx
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  packages/features/src/lib/features-actions.test.ts
  packages/features/src/lib/features.ts
  packages/features/src/lib/index.ts
  packages/widgets/src/lib/FeatureFlagsProvider.tsx
  packages/widgets/src/lib/feature-gate-context.tsx
Due: unittests, Features, UI Widgets

update sentry configuration
  .env.example
  apps/uk-travel-history/instrumentation-client.ts
  apps/uk-travel-history/next.config.js
  apps/uk-travel-history/sentry.edge.config.ts
  apps/uk-travel-history/sentry.server.config.ts
  apps/uk-travel-history/src/app/LayoutClient.tsx
  apps/uk-travel-history/src/app/api/monitoring/page.ts
  apps/uk-travel-history/src/app/status/page.test.tsx
  apps/uk-travel-history/src/components/Navbar.test.tsx
  apps/uk-travel-history/src/proxy.ts
  apps/uk-travel-history/vitest.config.mts
  packages/features/src/lib/features-actions.test.ts
  packages/features/src/lib/features.ts
Due: unittests, Features

update logo&favicon
  apps/uk-travel-history/next.config.js
  apps/uk-travel-history/public/favicon.svg
  apps/uk-travel-history/public/logo.svg
  apps/uk-travel-history/src/app/api/monitoring/page.ts
  apps/uk-travel-history/src/components/Header.tsx
  apps/uk-travel-history/src/components/Navbar.tsx
  apps/uk-travel-history/src/proxy.ts
  apps/uk-travel-history/tailwind.config.js
  packages/calculators/src/lib/helpers.ts
  packages/widgets/src/lib/TravelTable.tsx
Due: unittests, Calculators, UI Widgets

test: fix tests
  apps/uk-travel-history/src/components/Navbar.test.tsx
Due: unittests

fix: stripe integration
  apps/uk-travel-history/src/app/api/stripe/prices/route.ts
  apps/uk-travel-history/src/components/HomePageClient.tsx
  apps/uk-travel-history/src/components/LandingPage.tsx
  apps/uk-travel-history/src/components/Navbar.test.tsx
  apps/uk-travel-history/src/components/Providers.tsx
  apps/uk-travel-history/src/components/RiskAreaChart.tsx
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  packages/flow/src/lib/flow.tsx
  packages/payments/server/src/index.ts
  packages/payments/server/src/internal/providers/interface.ts
  packages/payments/server/src/internal/providers/mock-adapter.ts
  packages/payments/server/src/internal/providers/stripe-adapter.ts
  packages/payments/server/src/public/payments-operations.ts
  packages/payments/server/src/types/domain.ts
  packages/stores/src/lib/paymentStore.ts
  packages/widgets/src/lib/FullDataImportDialog.tsx
  packages/widgets/src/lib/ImportPreviewDialog.tsx
  packages/widgets/src/lib/PaymentModal.tsx
  packages/widgets/src/lib/index.ts
Due: unittests, UI Stores, UI Widgets

chore: update stripe checkout
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.ts
  packages/payments/server/src/internal/providers/stripe-adapter.ts
Due: unittests

Update auth
  apps/uk-travel-history/src/app/api/stripe/create-anonymous-checkout/route.ts
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.ts
  packages/auth/client/src/internal/providers/clerk-adapter.ts
  packages/auth/server/src/internal/providers/clerk-adapter.ts
  packages/stores/src/lib/paymentStore.ts
  packages/widgets/src/lib/PaymentModal.tsx
Due: unittests, UI Stores, UI Widgets

Update auth
  packages/auth/client/src/internal/providers/clerk-adapter.ts
Due: unittests

fix(subscriptions): Audit and fix subscription lifecycle handling (#128) (#129)
  CHANGELOG.md
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.spec.ts
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.ts
  docs/SETUP_GUIDE.md
  docs/STRIPE_WEBHOOK_SETUP.md
  package-lock.json
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.test.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/internal/providers/supabase.types.ts
  packages/db/src/types/domain.ts
  packages/utils/src/lib/logger.test.ts
  packages/widgets/src/lib/FeatureFlagsProvider.tsx
  supabase/migrations/008_add_subscription_lifecycle_fixes.sql
  supabase/migrations/009_fix_rls_policy_for_lifecycle_fields.sql
Due: unittests, Db, UI Widgets

Revert "fix(subscriptions): Audit and fix subscription lifecycle handling (#1…"
  CHANGELOG.md
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.spec.ts
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.ts
  docs/SETUP_GUIDE.md
  docs/STRIPE_WEBHOOK_SETUP.md
  package-lock.json
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.test.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/internal/providers/supabase.types.ts
  packages/db/src/types/domain.ts
  packages/utils/src/lib/logger.test.ts
  packages/widgets/src/lib/FeatureFlagsProvider.tsx
  supabase/migrations/008_add_subscription_lifecycle_fixes.sql
  supabase/migrations/009_fix_rls_policy_for_lifecycle_fields.sql
Due: unittests, Db, UI Widgets

fix(migrations): Add paused status to subscription_statuses table instead of enum (#131)
  supabase/migrations/008_add_subscription_lifecycle_fixes.sql
Due: none

fix(features): Handle grace period for cancelled subscriptions (#132)
  packages/features/src/lib/api-guards.test.ts
  packages/features/src/lib/api-guards.ts
Due: unittests, Features

fix: Handle incomplete subscription status after payment (#134)
  apps/uk-travel-history/src/app/account/AccountPageClient.tsx
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.ts
  packages/features/src/lib/features-actions.test.ts
  packages/features/src/lib/server-validation.test.ts
Due: unittests

push
  packages/auth/client/src/internal/providers/clerk-adapter.ts
Due: unittests

feat: server-authoritative access context + MobX hydration (#135)
  apps/uk-travel-history/src/app/account/AccountPageClient.tsx
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.spec.ts
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.ts
  apps/uk-travel-history/src/app/layout.tsx
  apps/uk-travel-history/src/components/Providers.tsx
  apps/uk-travel-history/src/components/TravelPageClient.tsx
  package-lock.json
  packages/db/src/index.ts
  packages/db/src/types/domain.ts
  packages/features/package.json
  packages/features/src/lib/access-context.test.ts
  packages/features/src/lib/access-context.ts
  packages/features/src/lib/server.ts
  packages/features/tsconfig.tsbuildinfo
  packages/stores/src/lib/authStore.ts
  packages/stores/src/lib/index.ts
  packages/stores/src/lib/monetizationStore.ts
  packages/stores/src/lib/useRefreshAccessContext.ts
Due: unittests, Db, Features, UI Stores

feat: implement user roles system with admin access control (#136)
  apps/uk-travel-history/src/app/forbidden/page.tsx
  apps/uk-travel-history/src/app/layout.tsx
  apps/uk-travel-history/src/components/Footer.test.tsx
  apps/uk-travel-history/src/components/Footer.tsx
  apps/uk-travel-history/src/components/Navbar.test.tsx
  apps/uk-travel-history/src/proxy.test.ts
  apps/uk-travel-history/src/proxy.ts
  packages/auth/server/src/index.ts
  packages/auth/server/src/internal/providers/clerk-adapter.ts
  packages/auth/server/src/public/auth-operations.ts
  packages/db/src/internal/providers/mock-adapter.ts
  packages/db/src/internal/providers/supabase-adapter.ts
  packages/db/src/internal/providers/supabase.types.ts
  packages/db/src/types/domain.ts
  packages/features/src/lib/api-guards.test.ts
  packages/features/src/lib/api-guards.ts
  packages/features/src/lib/features.ts
  supabase/migrations/010_add_user_roles.sql
Due: unittests, Db, Features

feat: add bug report form with auto-screenshot and file attachments (#139)
  apps/uk-travel-history/src/app/api/bug-report/route.test.ts
  apps/uk-travel-history/src/app/api/bug-report/route.ts
  apps/uk-travel-history/src/components/Footer.tsx
  apps/uk-travel-history/src/components/bug-report/BugReportDialog.tsx
  apps/uk-travel-history/src/components/bug-report/BugReportForm.tsx
  apps/uk-travel-history/src/components/bug-report/README.md
  apps/uk-travel-history/src/components/bug-report/constants.ts
  apps/uk-travel-history/src/components/bug-report/index.ts
  apps/uk-travel-history/src/components/bug-report/types.ts
  apps/uk-travel-history/src/components/bug-report/useScreenshotCapture.ts
  apps/uk-travel-history/src/components/bug-report/utils.test.ts
  apps/uk-travel-history/src/components/bug-report/utils.ts
  apps/uk-travel-history/src/emails/bug-report.tsx
  apps/uk-travel-history/vitest.config.mts
  apps/uk-travel-history/vitest.setup.ts
  package-lock.json
  package.json
  packages/widgets/src/lib/FullDataImportDialog.tsx
  packages/widgets/src/lib/ImportPreviewDialog.tsx
  packages/widgets/src/lib/PaymentModal.tsx
Due: unittests, UI Widgets

chore: fix payments processing
  .gitignore
  apps/uk-travel-history/package.json
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.spec.ts
  apps/uk-travel-history/src/app/api/webhooks/stripe/route.ts
  apps/uk-travel-history/tsconfig.json
  apps/uk-travel-history/vitest.config.mts
  nx.json
  package-lock.json
  package.json
  packages/auth/client/package.json
  packages/auth/server/package.json
  packages/calculators/src/lib/calculators.spec.ts
  packages/features/tsconfig.lib.json
  packages/payments/server/package.json
  packages/payments/server/src/index.ts
  packages/payments/server/src/internal/providers/interface.ts
  packages/payments/server/src/internal/providers/mock-adapter.ts
  packages/payments/server/src/internal/providers/stripe-adapter.ts
  packages/payments/server/src/public/payments-operations.ts
  packages/payments/server/src/types/domain.ts
Due: unittests, Features

test: reset
  apps/uk-travel-history/vitest.config.mts
Due: unittests

fix: update tests
  apps/uk-travel-history/public/favicon.svg
  apps/uk-travel-history/public/logo.svg
  apps/uk-travel-history/src/app/api/billing/checkout/route.spec.ts
  apps/uk-travel-history/src/components/Navbar.tsx
  apps/uk-travel-history/src/components/RiskAreaChart.tsx
Due: unittests

tests: improve tests
  apps/uk-travel-history/src/app/api/billing/checkout/route.spec.ts
  packages/features/src/lib/access-context.test.ts
  packages/features/src/lib/access-context.ts
  packages/features/src/lib/api-guards.test.ts
  packages/features/src/lib/feature-logger.ts
  packages/features/src/lib/features-actions.test.ts
  packages/features/src/lib/features-states.test.ts
  packages/features/src/lib/features.ts
  packages/stores/src/lib/monetizationStore.test.ts
Due: unittests, Features
